<!DOCTYPE html>
<html>
  <head>
    <title>BigDaddys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<


  </head>

  <body>
  
    <header>
    	<div class="navbar">
  			<a href="#home">Home</a>
  			<a href="#about">About</a>
  			<a href="#menu">Menu</a>
  			<a href="#events">Events</a>
  			<img class="logo" src="/assets/logo.png">

		</div>

		<div class="hero">
			<h1>Big Daddy's<br> Smoked Barbecue</h1>

		</div>	
			
			<div class="background-wrap">
				<video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted">
					<source src="/assets/bbqvid.mp4" type="video/mp4">
				</video>
			</div>

	</header>
<a name="about"></a>
	<section class="about">
		<h3>Smoked Barbecue Done Right</h3><br><br>
			<h4 class="smoked">WEDDINGS // CORPORATE PARTIES // PRIVATE EVENTS // HOLIDAY PARTIES // PARTIES & SHOWERS // CORPORATE LUNCHES</h4>

				<div class="container">
					<!-- <div class="row">
						<div class="col-md-5">
							<p class= "family">We're a family-run BBQ catering company. We take great pride in serving weddings, parties, school functions, church and corporate events throughout the Dallas-Forth Worth MetroPlex area. Whether you're planning for a food truck wedding, need private event catering, corporate lunches, or just want some mouth watering BBQ at your party — we'd be delighted to serve you.

							We have special packages we've carefully created to make ordering easy and your event a delicious smash-hit.  </p>	 -->
						
						<div class="row">
		<div class="col-md-5">
			<img src="assets/ribs.jpg" style="height:350px; width: 370px" />
		</div>
		<div class="col-md-6">  
			<p style="font-size:20px; color:#03225C; margin-top: 40px;  margin-left: 40px; text-align: justify;">We're a family-run BBQ catering company. We take great pride in serving weddings, parties, school functions, church and corporate events throughout the Dallas-Forth Worth MetroPlex area. Whether you're planning for a food truck wedding, need private event catering, corporate lunches, or just want some mouth watering BBQ at your party — we'd be delighted to serve you.

							We have special packages we've carefully created to make ordering easy and your event a delicious smash-hit. </p> 
		</div>
</div>
</div>
</div>
		
		
	</section>

	<section class="menu">
	<a name="menu"></a>
		<h3>Our Mouth-Watering Menu</h3>
			<h4>(menu can be customized for your personal event)</h4>		
		
	<div class="container">
		<div class="row">
			<div class="col-md-3">The BBQ Bowl<br> Choice of smoked pulled pork, beef brisket or santa maria chicken, cole slaw, BBQ beans, topped with BBQ sauce</div>
			<div class="col-md-1">$12</div>
			<div class="col-md-3">TWO SLIDERS & SIDE<br> Mix and match choice of meats. includes your choice of side</div>
			<div class="col-md-1">$10</div>
			<div class="col-md-3">PULLED PORK<br>Smoked pulled pork on a soft roll, topped with cole slaw, spicy bacon aioli and finished with a seasoned fried egg, includes your choice of side</div>
			<div class="col-md-1">$12</div>	
	</div>
	
	<!-- <div class="container"> -->
		<div class="row">
			<div class="col-md-3">CALLY BOWL<br>Choice of smoked pulled pork, beef brisket or santa maria chicken, cole slaw, BBQ beans, topped with spicy bacon aioli, BBQ sauce and finished with a seasoned fried egg</div>
			<div class="col-md-1">$12</div>
			<div class="col-md-3">TEXAS PHILLY<br>Smoked beef brisket, caramelized onions & peppers and pepperjack cheese on a warm hoagie roll. includes choice of side.</div>
			<div class="col-md-1">$10</div>
			<div class="col-md-3">DOG PILE<br>All beef hot dog stacked to the rafters with smoked beef brisket, cole slaw, and topped with BBQ sauce</div>
			<div class="col-md-1">$12</div>	
	</div>

	<!-- <div class="container"> -->
		<div class="row">
			<div class="col-md-3">SINGLE BBQ SLIDER<br>Smoked pulled pork, beef brisket or santa maria chicken, BBQ sauce and cole slaw</div>
			<div class="col-md-1">$12</div>
			<div class="col-md-3">BRISKET NACHOS<br>Smoked beef brisket, BBQ beans, pepperjack cheese, fresh salsa and guacamole, spicy bacon aioli, BBQ sauce over fresh corn tortilla chips</div>
			<div class="col-md-1">$10</div>
			<div class="col-md-3">RIBS<br>Fall-off-the-bone ribs, includes choice of side.</div>	
			<div class="col-md-1">$10</div>
	</div>

	</section>

	<section class="Contact">

		<div class="contact-container">
			
			<div class="contact-words">
			<h3>Give us a Shout</h3>
				<h4>You can also find us at these events!</h4>
					<div class="container event-container">
						<div class="row events-named">
							<div class="col-md-3"><h2>Burleson Jazz Fest</h2><br>
								<p class="events">3456 Burleson Rd<br>Burleson, Tx 76040<br>Saturday, May 19th, 2017</p></div>
							<div class="col-md-1"></div>
								<div class="col-md-3"><h2>Frisco Festival</h2><br>	<p class="events">3456 Burleson Rd<br>Burleson, Tx 		76040<br>Saturday, May 19th, 2017</p>				</div>
										<div class="col-md-1"></div>
											<div class="col-md-3"><h2>Addison Truck Yard</h2><br>								<p class="events">3456 Burleson Rd<br>		Burleson, Tx 76040<br>Saturday, May 		19th, 2017</p></div>	
														<div class="col-md-1"></div>
					</div>
				</div>					

				<div class="container event-container">
					<div class="row">
						<div class="col-md-3"><h2>Burleson Jazz Fest</h2><br>
							<p class="events">3456 Burleson Rd<br>Burleson, Tx 76040<br>Saturday, May 19th, 2017</p></div>
						<div class="col-md-1"></div>
							<div class="col-md-3"><h2>Forney BBQ</h2><br>	<p class="events">3456 Burleson Rd<br>Burleson, Tx 		76040<br>Saturday, May 19th, 2017</p></div>
									<div class="col-md-1"></div>
										<div class="col-md-3"><h2>Addison Truck Yard</h2><br>								<p class="events">3456 Burleson Rd<br>		Burleson, Tx 76040<br>Saturday, May 		19th, 2017</p></div>	
													<div class="col-md-1"></div>
										</div>
									</div>	
					</div>
				</div>
	</section>
	<div class="card"> 
	<img src="assets/business.jpg">
	</div>

 <div class="footer">Follow us on Facebook and Instagram</div>


	</body>

  

</html>



	
		


